title RunningDog 

link(rel="stylesheet", href="/stylesheets/game/index.css")

body 
    canvas#game_cnvs
    img#dogimg(src="/images/dog_left_right_white.png", alt="loading")
    h1#loading LOADING...

script(src="/javascripts/game/script.js", type="module") 